@import "./_variables";
@import "./_mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $backgroun-primary;
  font-family: "Noto Sans", sans-serif;
}

header {
  background-color: $backgroun-secondary;
  width: 100%;
  min-height: 15vh;
  @include flex(row, center, center);

  .header__container {
    width: 100%;
    @include flex(row, space-between, center);
    padding: 0 2rem;

    figure {
      @include flex(row, center, center);
      height: 100%;

      img {
        width: 6.25rem;
        height: 6.25rem;
      }

      figcaption {
        padding: 0.5rem 0 0 0.5rem;
        font-size: 1.5rem;
        color: $font-primary;
        text-transform: uppercase;
      }
    }

    nav {
      ul {
        list-style: none;
        width: 100%;
        @include flex(row, center, center);
        gap: 3rem;
        font-size: clamp(0.9rem, 2.5vw, 1.5rem);
        color: $font-primary;
        text-transform: uppercase;

        li {
          cursor: pointer;
        }
      }
    }

    @media only screen and (width <= 900px) {
      flex-direction: column;

      nav {
        padding: 1rem 0;
      }
    }

    @media only screen and (width <= 425px) {
      nav {
        ul {
          gap: .7rem;
        }
      }
    }
  }
}

main {
  .sobre__container {
    width: 100%;
    min-height: 50vh;
    @include flex(row, space-evenly, center);

    .sobre__conteudo {
      width: 50%;
      padding: 2rem 0;
      font-size: 1.6rem;
      line-height: 2.1281rem;
      text-align: left;
    }

    figure {
      @include flex(row, center, center);

      .sobre__imagem {
        width: 100%;
        height: 22rem;
        object-fit: cover;
      }
    }

    @media only screen and (width <= 1050px) {
      flex-direction: column;
      padding-bottom: 1rem;

      .sobre__conteudo {
        width: 90%;
      }
    }
  }

  .conscientizacao__container {
    min-height: 40vh;
    background-color: $backgroun-secondary;
    @include flex(row, space-evenly, center);

    .conscientizacao__conteudo {
      width: 50%;
      padding: 2rem 0;
      font-size: 1.6rem;
      line-height: 2.1281rem;
      text-align: left;
      color: $font-primary;
    }

    figure {
      @include flex(row, center, center);
      .conscientizacao__imagem {
        width: 90%;
        height: 17rem;
        object-fit: cover;
      }
    }

    @media only screen and (width <= 1050px) {
      flex-direction: column-reverse;
      padding-bottom: 1rem;

      .conscientizacao__conteudo {
        width: 90%;
      }
    }
  }

  .dicas__container {
    min-height: 50vh;
    @include flex(row, space-evenly, center);

    figure {
      width: 15.625rem;
      height: 15.625rem;

      img {
        width: 100%;
        height: 100%;
        transition: 0.5s all ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    @media only screen and (width <= 950px) {
      padding: 1rem 0;
    }
  }
}

footer {
  background-color: $backgroun-secondary;
  height: 30vh;

  .footer__container {
    @include flex(row, space-between, center);
    padding: 0 2rem;
    height: 100%;

    .footer__navigation {
      width: 20%;
      @include flex(row, space-around, center);

      a {
        img {
          width: 4.1875rem;
          height: 4.1875rem;
          transition: 0.5s all ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .footer__data {
      @include flex(column, space-around, center);
      height: 60%;
      color: $font-primary;
      font-size: 1.25rem;
      list-style: none;
      text-align: center;
    }

    .footer__figure {
      @include flex(row, center, center);

      img {
        width: 6.6rem;
        height: 7rem;
      }
    }

    @media only screen and (width <= 825px) {
      .footer__navigation {
        width: 100%;
        padding-top: 1rem;
      }

      .footer__data {
        width: 100%;
        padding: 1rem 0;
      }

      .footer__figure {
        width: 100%;
      }
    }
  }

  @media only screen and (width <= 825px) {
    min-height: 30vh;
    height: auto;
  }
}
